*{
    margin: 0;
    padding: 0;
    text-align: center;
}
/* body{
    margin: 0px;

} */
h1{
    /* height: 130px; */
    /* width: auto; */
    font-size: 3rem;
    padding: 1rem;
    border: 2px solid black;
    background-color: navy;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.choices{
    display: flex;
    margin: 3rem;
    justify-content: center;
    gap: 2rem;
}
/* img{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 67px;
    background-color: pink;
}
img:hover{
    cursor: pointer;
    border: 5px solid black;
    
} */
img{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 67px;
    background-color: pink;
    transition: transform 0.3s; /* Add transition for smooth scaling */
}
img:hover{
    cursor: pointer;
    transform: scale(1.1); /* Scale the image*/ 
}

.score-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    /* border: 2px solid blue; */
    gap: 5rem;
}
#user-score , #comp-score{
    font-size: 3rem;
}
.msg-container{
    margin-top: 3rem;
}
#msg{
    background-color: navy;
    font-size: 3rem;
    justify-content: center;
    display: inline;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}


/* For screens smaller than 768px (tablets and mobiles) */
@media only screen and (max-width: 768px) {
    h1 {
      font-size: 2rem; /* Adjust font size for smaller screens */
    }
    .choices {
      flex-wrap: wrap; /* Wrap the choices on multiple lines */
      justify-content: space-around; /* Distribute choices evenly */
      gap: 1rem; /* Reduce gap between choices */
    }
    .score-card {
      flex-direction: column; /* Stack scores vertically */
      align-items: center; /* Align scores to the left */
      gap: 2rem; /* Maintain some gap between scores */
    }
    #msg {
      font-size: 1.5rem; /* Reduce message font size */
    }
    
  }
  